@model List<ProductsViewModel>
@{
    ViewData["Title"] = "GetStatistics";
    Layout = "~/Views/Shared/_SallerLayout.cshtml";
    var index = 1;
}

<div class="container-fluid mx-0 px-5 bg-dark py-1 vh-100">
    <div class="row my-3">
        <a asp-action="Add" asp-controller="Product" class="btn btn-light fs-6 fw-bolder">Add New Product</a>
    </div>
    <table class="table table-dark table-hover  my-5">
        <thead class="text-center">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Price</th>
                <th scope="col">Total Quantity</th>
                <th scope="col">Total Sold item</th>
                <th scope="col">Sales Avrage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pro in Model)
            {
                decimal precentage;
                string barColor = "";
                var numOfSoldItem = pro.Quantity - pro.NumberOfExisitItems;
                if(pro.NumberOfExisitItems == 0)
                {
                    precentage = 100.0m;
                    barColor = "bg-success";
                }else if(pro.NumberOfExisitItems == pro.Quantity)
                {
                    precentage = 0.0m;
                    barColor = "bg-danger";
                }else
                {
                    precentage = ((decimal)pro.NumberOfExisitItems / pro.Quantity) * 100.0m;
                    if (precentage < 35)
                        barColor = "bg-danger";
                    if (precentage >= 35 && precentage <= 75)
                        barColor = "bg-warning";
                    if (precentage >75)
                        barColor = "bg-success";
                }
                <tr class=" text-center">
                    <th scope="row">@index</th>
                    <td><a class="" asp-action="Update" asp-route-id="@pro.Id" asp-controller="Product">@pro.Name</a></td>
                    <td>@pro.Brand</td>
                    <td>@pro.Price</td>
                    <td>@pro.Quantity</td>
                    <td>@numOfSoldItem</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar @barColor" role="progressbar" style="width: @precentage%" aria-valuenow="@precentage" aria-valuemin="0" aria-valuemax="100">@precentage</div>
                        </div>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
</div>

