@model PaginationResult<ProductsViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="row justify-content-center align-items-end p-5">
    @foreach(var item in Model.values)
    {
        <div class="col-md-3 p-4 my-3">
            <div class="card shadow-lg rounded-3 overflow-hidden" style="height:380px">
                <img src="~/images/@item.HeaderImage" class="card-img-top" height="200px">
                <div class="card-body">
                    <h5 class="card-title my-0 py-1">@item.Name</h5>
                    <p class="card-text m-0 p-0">@item.Description</p>
                    <p class="text-info m-0 p-0">@item.Price EGP</p>
                    @if(item.IsBought)
                    {
                        <span class="text-danger fw-bold w-100">Out Of Stock</span>
                    }else
                    {
                        <a asp-action="Product" asp-controller="Product" asp-route-productId="@item.Id" class="btn btn-dark w-100">Buy Now</a>
                    }
                </div>
            </div>
        </div>

    }
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for(var i = 1; i<=Model.TotalPages;i++)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-index="@i" asp-route-size="2">@i</a></li>
            }
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

